body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.left,
.right {
    width: 45%;
}

button {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}